body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    margin: 0;
}

.wall {
    width: 100%;
    height: 84px;
    flex-shrink: 0;
    background: #00A863;
    position: relative; /* 추가 */
    z-index: 1;
}

.bottom-wall {
    left: 0;
    right: 0;
    bottom: 0;
    height: 6rem;
    background: #F1F1F1;
    position: fixed; /* 추가 */
    z-index: 1;
}

.bottom-box {
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 6rem;
    width: 430px;
    height: 84px;
    background: #F1F1F1;
    position: fixed; /* 추가 */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    margin-top: 7px;
    cursor: pointer;
}

.bar-content {
    margin-top: 10px;
    color: #000;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
    text-align: center;
    cursor: pointer;
}


.window {
    min-height: 150vh;
    width: 430px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    padding-bottom: 10vh;
}

.backbox{
    background: #00A863;
    width: 430px;
    height: 84px;
    position: absolute;
    top: 0; /* 추가 */
    left: 50%; /* 추가 */
    transform: translateX(-50%); /* 추가 */
    z-index: 2; /* 추가 */
  }

.hongbosujung {
    position: absolute;
    top: 31px;
    left: 46px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
    color: #ffffff;
}

.back {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 23px;
    width: 9px;
    height: 9px;
    flex-shrink: 0;
    cursor: pointer;
}

.input {
    margin-top: 110px;
    margin-left: 33px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.25px;
    position: absolute;
}

.sun {
    margin-top: 160px;
    margin-left: 23px;
    width: 384px;
    height: 1px;
    opacity: 0.3;
    background: #D1D1D1;
    position: absolute;
}

.mission1 {
    margin-top: 200px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.star {
    margin-left: 34px;
    color: #FF2424;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.case {
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
    opacity: 0.5;
}

.textbox1 {
    margin-top: 6px;
    margin-left: 23px;
    padding-top: 17px;
    text-align: center;
    width: 385px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.insert-1 {
    margin-left: 19px;
    width: 335px;
    float: left;
    border:0 solid black;
    color: #00A863;
    opacity: 0.4;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}
.insert-2 {
    margin-left: 19px;
    width: 335px;
    float: left;
    border:0 solid black;
    color: #00A863;
    opacity: 0.4;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}
.insert-3 {
    margin-left: 19px;
    width: 335px;
    float: left;
    border:0 solid black;
    color: #00A863;
    opacity: 0.4;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}

input:focus {
    outline: none;
}

.clicked {
    color : #00A863;
    opacity: 1;
}

.mission2 {
    margin-top: 30px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.mission3 {
    margin-top: 31px;
    margin-left: 37px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.mission4 {
    margin-top: 31px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.take-photo1 {
    margin-top: 6px;
    margin-left: 23px;
    width: 184px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
    float: left;
}

.take-photo2 {
    margin-top: 6px;
    margin-left: 16px;
    width: 184px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
    float: left;
}

.mission5 {
    margin-top: 31px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.bbttnn {
    color: #00A863;
    opacity: 0.4;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    float: left;
    cursor: pointer;
}

.clicked {
    color : #00A863;
    opacity: 1;
}

.mission6 {
    margin-top: 31px;
    margin-left: 37px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.timeset-1 {
    margin-top: 6px;
    margin-left: 23px;
    padding-top: 17px;
    text-align: center;
    width: 169px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
    float: left;
}

.timeset-2 {
    width: 114px;
    float: center;
    border:0 solid black;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.timeset-4 {
    width: 114px;
    float: center;
    border:0 solid black;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.wave {
    margin-top: 16px;
    margin-left: 12px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.25px;
    position:absolute;
}

.timeset-3 {
    margin-top: 6px;
    margin-right: 24px;
    padding-top: 17px;
    text-align: center;
    width: 169px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
    float: right;
}

.mission11 {
    margin-top: 55px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.mission7 {
    margin-top: 55px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.mission8 {
    margin-top: 26px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.textbox2 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 23px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox3 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox4 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox5 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox6 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 23px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox7 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox8 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.textbox9 {
    background-color: #FFFFFF;
    color: #00A863;
    margin-top: 6px;
    margin-left: 16px;
    text-align: center;
    width: 80px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

.mission9 {
    margin-top: 31px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.textbox9-9 {
    margin-top: 6px;
    margin-left: 23px;
    padding-top: 17px;
    text-align: center;
    width: 385px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #00A863;
}

textarea {
    width: 330px;
    height: 127px;
    border: none;
    outline: none;
    resize: none;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.75px;
}

.mission10 {
    margin-top: 31px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.category-1 {
    margin-top: 6px;
    margin-left: 22px;
    text-align: center;
    width: 80px;
    height: 45px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.75px;
    border-radius: 40px;
    border: 1px solid #00A863;
}


.first{
    width: 18px;
    height: 18px;
    margin-left: 38px;
    font-family: "Pretendard";
}

.first-2{
    width: 18px;
    height: 18px;
    margin-left: 42px;
    font-family: "Pretendard";
}

.first-1 {
    margin-left: 15px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-3 {
    margin-left: 69.5px;
    color: #00A863;
    font-family: "Pretendard";
}

.first-4 {
    margin-left: 69.5px;
    color: #00A863;
    font-family: "Pretendard";
}
.first-5 {
    margin-left: 69.5px;
    color: #00A863;
    font-family: "Pretendard";
}
.first-6 {
    margin-left: 70px;
    color: #00A863;
    font-family: "Pretendard";
}

.sec {
    margin-left: 60px;
    width: 18px;
    height: 18px;
}
.sec-1 {
    margin-left: 72px;
    color: #00A863;
    font-family: "Pretendard";
}

.sec-2 {
    margin-left: 33px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-3 {
    margin-left: 52px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-4 {
    margin-left: 52px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-5 {
    margin-left: 34px;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sun2 {
    margin-top: -14.5px;
    width: 350px;
    height: 1.5px;
    background: #00A863;
}

.gageok {
    margin-top: 19.4px;
    margin-left: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00A863;
    font-family: "Pretendard";
    font-size: 22.105px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.105px;
    width: 147px;
    height: 56.368px;
    flex-shrink: 0;
    border-radius: 44.211px;
    border: 1.105px solid #00A863;
}

.button1 {
    margin-top: 30px;
    margin-left: 23px;
    margin-bottom: 56px;
    width: 384px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 40px;
    border: solid 0px #00A863;
    background: #00A863;
    cursor: pointer;
}

.green-background {
    background-color: #00A863;
    color: #FFFFFF;
}